*
!*/
build/
!.gitignore
!.dockerignore
!.gitlab-ci.yml
!src/
!docker/
!scripts/
!**/*.md
!**/*.cc
!**/*.h
!**/*.yaml
!**/*.sh
!**/*.js
!**/WORKSPACE
!**/Makefile
!**/Makefile.conf
!**/BUILD
!**/*.BUILD
!**/*.Dockerfile
